<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/css/style.css' />

  
</head>
<body>
  <nav>
    <div class="nav-ctr">

        <div class='header-logo'>
          <a href="/trips" alt="home">
          <img src="/images/header_logo.png" alt="logo"></a>
          </div>

            <div class="my-trips-btn">
              <a href="/trips%>"><button>ALL TRIPS</button></a>
              </div>
              

        
        
        <div class="logout">
          <a href="/auth/logout"><button>LOGOUT</button></a>
        </div>
      
    </div>
  </nav>
  
  <h3>Trip Details</h3>
      <div class="col s12 m7">
        <div class="card horizontal white medium" id="details-card">
          <div class="card-image">
            <img src="https://source.unsplash.com/800x600/?travel" alt="unsplash random images">
        </div>
          <div class="card-stacked">
          <div class="card-content black-text">
            <span class="card-title">"<%= trips.title %>"</span>
            <p><span class="details-type">Location: </span><%= trips.location %></p>
              <p><span class="details-type">Date:</span> <%= trips.eventDate %></p>
                
              <p><span class="details-type">Description: </span><%= trips.description %></p>
              <p><span class="details-type">Stay:</span> <%= trips.stay %></p>
               
              </div>
                
          
          <div class="card-action">
            <a href="/trips/edit/<%= trips._id %>/" class="btn-floating left btn-medium waves-effect waves-light orange"><i class="fas fa-edit"></i></a></td>
            <form action="/trips/<%= trips._id %>" method="POST" id="delete-trips"> 
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn-medium btn red btn-floating right">
                <i class="fas fa-trash"></i>
            </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>
